<div class="container">
  <div class="row_new_dogs">
    <div class="col-xs-12-col-sm-6-col-md-12">
      <h2 class="new_dog_header"> Add your dog </h2>
      <%= simple_form_for @dog do |f| %>
      <%= f.error_notification %>
      <%= f.input :name, label: false, placeholder: "Name" %>
      <%= f.input :description, label: false, placeholder: "Description", as: :text %>
      <%= f.input :species, label: false, placeholder: "Breed" %>
      <%= f.input :photo, as: :attachinary %>
      <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
