 <div class="col-xs-12 col-sm-4 col-md-4 dog-card-wrapper">
  <% if booking.status == 'accept' %>
    <div class="dog-card green-border">
  <% else %>
    <div class="dog-card">
  <% end %>
      <div class="dog-image">
        <%= cl_image_tag booking.dog.photo.path %>
      </div>
      <div class="dog-info">
        <p><%= booking.dog.name %></p>
        <% if booking.status == 'accept' %>
          <span class="accepted_status">accepted</span>
        <%= button_to 'Return dog', cancel_booking_path(booking), method: :patch, class: 'btn btn-success' %>
        <% else %>
        <%= button_to 'Cancel booking', cancel_booking_path(booking), method: :patch, class: 'btn btn-default' %>
        <span class="pending_status"><%=  %></span>
        <% end %> <br><br>
      </div>
    </div>
  </div>
