<div class="container_profile">
  <h1 class="profile_header">Welcome, <%= current_user.name %></h1>
  <div class="row" style="padding: 0px 100px">
    <h3 class="profile_header">Dogs you're renting</h2></br></br>
      <% if current_user.bookings %>
        <% current_user.bookings.each do |booking| %>
          <% if booking.status == 'pending' || booking.status == 'accept' %>
           <%= render 'your_bookings', booking: booking, current_user: current_user %>
          <% end %>
        <% end %>
      <% end %>
      <%= render 'borrow_dog' %>
  </div>
</div>

<div class="row" style="padding: 0px 100px">
  <h3 class="profile_header"> Requests for your dogs </h3><br>
  <% current_user.dogs.each do |dog| %>
    <div class="dog-request-container row">
      <%= render 'your_dog', dog: dog %>
      <div class="col-xs-8 col-sm-8 col-md-8">
        <% if dog.bookings %>
          <% dog.bookings.each do |booking| %>
            <% if booking.status == 'pending' %>
              <%= render 'message', booking: booking %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= button_to 'Add Dog', new_dog_path, method: :get, class: "btn btn-default"%></br></br>
  <%= button_to 'Delete Account', user_path(current_user), method: :delete, class: "btn btn-danger center_button"%>
</div>
