<div class="container_profile">
  <h1 class="profile_header">Your dashboard <%= current_user.name %></h1>
  <div class="row" style="padding: 0px 100px">
    <h2>Dogs you're renting</h2>
    <%= button_to "Rent another dog", dogs_path, method: :get, class: "btn btn-primary center_button" %>
    </br>
    </br>
      <% if current_user.bookings %>
        <% current_user.bookings.each do |booking| %>
          <% if booking.status == 'pending' || booking.status == 'accept' %>
            <div class="col-xs-12 col-sm-4 col-md-4 dog-card">
              <div class="dog-image">
                <%= cl_image_tag booking.dog.photo.path %>
              </div>
              <p><%= booking.dog.name %></p>
              <% if booking.status == 'accept' %>
                <span>ACCEPTED!!!</span>
              <% end %>
              <p><%= booking.dog.species %> </p>
              <%= button_to 'Cancel booking', cancel_booking_path(booking), method: :patch, class: 'btn btn-success'  %>
            </div>
          <% end %>
        <% end %>
      <% end %>
  </div>
</div>

</br>
</br>
</br>

  <div class="row" style="padding: 0px 100px">
       <h3 class="profile_header"> Requests for your dogs </h3>
       <%= button_to 'Add Dog', new_dog_path, method: :get, class: "btn btn-primary add_button"%>
       </br>
       </br>
      <% current_user.dogs.each do |dog| %>
      <div class="dog-request-container row">
        <div class="col-xs-4 col-sm-4 col-md-4">
          <div class="card" style=" background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path dog.photo.path %>')">
            <div class="card-description">
              <h2><%= dog.name %></h2>
            </div>
            <%= link_to '', bookings_path(dog), :method => :post, :class=>"ui-button-text button_text" %>
            <%= link_to '', bookings_path(dog), :method => :post, :class=>"card-link" %>
            <div class="text-behind">
              <%= dog.description %>
            </div>
            <%=  button_to 'X', dog_path(dog), method: "delete",style: "z-index:999", class: 'btn btn-danger name_yourdog delete-dog' %>
          </div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8">
          <% if dog.bookings %>
            <% dog.bookings.each do |booking| %>
                <div class="message">
                  <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
                  <div class="message-name">
                    <% if booking.status == 'pending' %>
                      <h3><%= booking.user.name %></h3>
                      <p>10/07/17</p>
                    <% end %>
                  </div>
                  <div class="message-body">
                    <p><strong><%= booking.user.name %> has requested to book your dog!</strong></p>
                  </div>
                  <div class="message-status">
                     <%= button_to 'accept', accept_booking_path(booking), method: :patch, class: 'btn btn-success'  %>
                     <%= button_to 'decline', decline_booking_path(booking), method: :patch, class: 'btn btn-danger'  %>
                  </div>
                </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
  </div>
