<div class="container">
  <div class="row_main">
    <% if registration_signed_in? %>
    <div class="col-xs-12 col-sm-6 col-md-offset-3">

<!--       <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
        <div class="banner-content">
          <h1>Dogs'R'Us</h1>
          <p>Borrow a dog</p>
          <a class="btn btn-primary btn-lg">Profile</a>
        </div>
      </div> -->

      <%= image_tag "paw-print-logo.svg", height: 200, :class => "img_main_logo" %>
      <h1 class="header_main">
      Dogs ' R ' Us
      </h1>

    <%= link_to "Go to Profile", profile_path, :class => "profile_button btn btn-primary" %>

    </div>


    <% else %>

    <div class="col-xs-12 col-sm-6 col-md-offset-3">



      <%= image_tag "paw-print-logo.svg", height: 200, :class => "img_main_log_out" %>
      <h1 class="header_main">
      Dogs ' R ' Us
      </h1>
      <h3 class="sub_header_main">
      Borrow a dog with
      <br> us in just 3 steps!
      </h3>
      <h5 class="facebook_button btn btn-primary">
      Continue with facebook
      </h5>
      <br>
      <%= link_to "Sign up", new_registration_registration_path, :class => "sign_up_button btn btn-danger" %>
      <h6 class="sign_in_main">
      Forgot password?
      </h6>
      <p class="terms"> By signing up or logging in you agree with our Terms and Conditions</p>
      <% @dogs.each do |dog| %>
      <h1>WE LOVE YOU</h1>
      - <%= dog.name %>
      <% end %>
    </div>
      <% end %>
    </div>
  </div>
